body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-image: linear-gradient(to bottom right, #FC5E55, #FA4083);
}


h1{
    font-family: 'Abril Fatface', cursive;
}

.jumbotron{
    background-color: rgba(0, 0, 255, 0);
}

.drop-shadow{
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.153);
}

.lead{
    color: white;
    font-size: 2.2rem;
}

.btn-outline-light{
    border-color: white;
}

.btn-outline-light:hover{

    background-color: rgba(255, 255, 255, 0.205);
    
}


.btn-outline-light:not(:disabled):not(.disabled).active, .btn-outline-light:not(:disabled):not(.disabled):active, .show>.btn-outline-light.dropdown-toggle {
    color: #212529;
    background-color: #f8f9fa00;
    border-color: #f8f9fa;
}

.btn-primary, .btn-primary:hover{
    background-color: #00BBC9;
}
